<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CSharp_Themed_Events</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/CSharp_Themed_Events.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a class="brand-logo blue-text text-darken-2" asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 1.5rem;">
                CSharp_Themed_Events
            </a>
            
            <a href="#" data-target="mobile-nav" class="sidenav-trigger blue-text text-darken-2"><i class="material-icons">menu</i></a>
            
            <ul class="right hide-on-med-and-down">
                <li><a class="blue-text text-darken-2" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="blue-text text-darken-2" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-nav">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
    </ul>
</header>

<div class="container">
    <main role="main" class="section">
        @RenderBody()
    </main>
</div>

<footer class="page-footer white grey-text text-darken-1" style="border-top: 1px solid #e0e0e0;">
    <div class="container">
        &copy; 2026 - CSharp_Themed_Events - <a class="grey-text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>