@using CSharp_Themed_Events.Enums
@model CSharp_Themed_Events.Models.EventViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="section">
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-2">
                <div class="card-content">
                    <span class="card-title deep-purple-text text-darken-3" style="font-weight: bold;">
                        <i class="material-icons left">event_available</i> Nuevo Evento Temático
                    </span>
                    
                    <form asp-action="CreateEvent" method="post">
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix deep-purple-text text-darken-1">title</i>
                                <input asp-for="NewEvent.Name" type="text" class="validate" required>
                                <label asp-for="NewEvent.Name">Name</label>
                                <span asp-validation-for="NewEvent.Name" class="red-text"></span>
                            </div>

                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix deep-purple-text text-darken-1">today</i>
                                <input asp-for="NewEvent.Date" type="text" class="datepicker" required>
                                <label asp-for="NewEvent.Date">Date</label>
                                <span asp-validation-for="NewEvent.Date" class="red-text"></span>
                            </div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix deep-purple-text text-darken-1">description</i>
                                <textarea asp-for="NewEvent.Description" class="materialize-textarea"></textarea>
                                <label asp-for="NewEvent.Description">Description</label>
                                <span asp-validation-for="NewEvent.Description" class="red-text"></span>
                            </div>

                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix deep-purple-text text-darken-1">place</i>
                                <input asp-for="NewEvent.Location" type="text">
                                <label asp-for="NewEvent.Location">Location</label>
                                <span asp-validation-for="NewEvent.Location" class="red-text"></span>
                            </div>

                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix deep-purple-text text-darken-1">link</i>
                                <input asp-for="NewEvent.ImgURL" type="url">
                                <label asp-for="NewEvent.ImgURL">Image URL</label>
                                <span asp-validation-for="NewEvent.ImgURL" class="red-text"></span>
                            </div>

                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix deep-purple-text text-darken-1">stars</i>
                                <select asp-for="NewEvent.Status">
                                    <option value="" disabled selected>Select Status</option>
                                    <option value="1">Coming Soon</option>
                                    <option value="2">On Going</option>
                                    <option value="3">Finished</option>
                                </select>
                                <label>Status</label>
                                <span asp-validation-for="NewEvent.Status" class="red-text"></span>
                            </div>
                        </div>

                        <div class="card-action right-align">
                            <button type="submit" class="btn waves-effect waves-light deep-purple darken-2">
                                <i class="material-icons left">send</i> Registrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table class="striped highlight white z-depth-1">
                <thead class="deep-purple darken-3 white-text">
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Location</th>
                        <th class="center-align">Status</th>
                        <th class="center-align">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.EventList != null && Model.EventList.Any())
                    {
                        @foreach (var item in Model.EventList)
                        {
                            <tr>
                                <td><strong>@item.Name</strong></td>
                                <td>@item.Date.ToShortDateString()</td>
                                <td>@item.Location</td>
                                <td class="center-align">
                                    @switch (item.Status)
                                    {
                                        case EventStatus.ComingSoon: 
                                            <span class="badge deep-purple darken-1 white-text">Coming Soon</span> 
                                            break;
                                        case EventStatus.OnGoing: 
                                            <span class="badge deep-purple darken-2 white-text">On Going</span> 
                                            break;
                                        case EventStatus.Finished: 
                                            <span class="badge deep-purple darken-4 white-text">Finished</span> 
                                            break;
                                    }
                                </td>
                                <td class="center-align">
                                    <a class="btn-flat waves-effect"><i class="material-icons deep-purple-text text-darken-1">edit</i></a>
                                    <a class="btn-flat waves-effect"><i class="material-icons red-text">delete</i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>